{{#allParams}}      {{^isFormParam}}
      {{#vendorExtensions.x-validate}}{{#isModel}}@Valid{{/isModel}}
      {{#vendorExtensions.x-has-min-max}}@Range(from = {{minimum}}, to = {{maximum}}, boundary = Range.Boundary.{{#exclusiveMinimum}}EXCLUSIVE{{/exclusiveMinimum}}{{^exclusiveMinimum}}INCLUSIVE{{/exclusiveMinimum}}_{{#exclusiveMaximum}}EXCLUSIVE{{/exclusiveMaximum}}{{^exclusiveMaximum}}INCLUSIVE{{/exclusiveMaximum}})
      {{/vendorExtensions.x-has-min-max}}{{#vendorExtensions.x-has-min-max-items}}@Size(min = {{minItems}}, max = {{maxItems}})
      {{/vendorExtensions.x-has-min-max-items}}{{#vendorExtensions.x-has-min-max-length}}@Size(min = {{minLength}}, max = {{maxLength}})
      {{/vendorExtensions.x-has-min-max-length}}{{#vendorExtensions.x-has-pattern}}@Pattern("{{{pattern}}}")
      {{/vendorExtensions.x-has-pattern}}{{/vendorExtensions.x-validate}}{{^required}}@Nullable      {{/required}}{{#isQueryParam}}@ru.tinkoff.kora.http.common.annotation.Query("{{baseName}}")
      {{/isQueryParam}}{{#isPathParam}}@ru.tinkoff.kora.http.common.annotation.Path("{{baseName}}")
      {{/isPathParam}}{{#isHeaderParam}}@ru.tinkoff.kora.http.common.annotation.Header("{{baseName}}")
      {{/isHeaderParam}}{{#isCookieParam}}/* TODO Cookies */
      {{/isCookieParam}}{{#isBodyParam}}{{#vendorExtensions.hasMapperTag}}@{{vendorExtensions.mapperTag}}{{/vendorExtensions.hasMapperTag}}
      {{/isBodyParam}}{{{dataType}}} {{paramName}}{{#hasFormParams}},{{/hasFormParams}}{{^hasFormParams}}{{^-last}},{{/-last}}{{/hasFormParams}}
{{/isFormParam}}{{/allParams}}    {{#hasFormParams}}
     {{#isClient}}@Mapping({{classname}}ClientRequestMappers.{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}FormParamRequestMapper.class)
     {{/isClient}}{{^isClient}}@Mapping({{classname}}ServerRequestMappers.{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}FormParamRequestMapper.class)
     {{/isClient}}{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}FormParam form
    {{/hasFormParams}}
