package {{package}};

import ru.tinkoff.kora.http.client.common.form.UrlEncodedWriter;
import ru.tinkoff.kora.http.client.common.form.MultipartWriter;
import ru.tinkoff.kora.http.client.common.request.HttpClientRequestMapper;
import ru.tinkoff.kora.http.client.common.request.HttpClientRequest;
import reactor.core.publisher.Mono;

@ru.tinkoff.kora.common.annotation.Generated("openapi generator kora client"){{#discriminator}}{{>typeInfoAnnotation}}{{/discriminator}}
public interface {{classname}}ClientRequestMappers {
{{#operations}}
{{#operation}}
{{#hasFormParams}}

  final class {{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}FormParamRequestMapper implements HttpClientRequestMapper<{{classname}}.{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}FormParam> { {{#vendorExtensions.requiresFormParamMappers}}
    {{#vendorExtensions.formParamMappers}}
    private ru.tinkoff.kora.http.client.common.writer.StringParameterConverter<{{paramType}}> {{paramName}}Converter;
    {{/vendorExtensions.formParamMappers}}

    public {{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}FormParamRequestMapper({{#vendorExtensions.formParamMappers}}{{#requireTag}}
      @{{mapperTag}}{{/requireTag}}
      ru.tinkoff.kora.http.client.common.writer.StringParameterConverter<{{paramType}}> {{paramName}}Converter{{^last}},{{/last}}
    {{/vendorExtensions.formParamMappers}}) {
    {{#vendorExtensions.formParamMappers}}
       this.{{paramName}}Converter = {{paramName}}Converter;
    {{/vendorExtensions.formParamMappers}}
    }

{{/vendorExtensions.requiresFormParamMappers}}

    @Override
    public HttpClientRequest.Builder apply(HttpClientRequestMapper.Request<{{classname}}.{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}FormParam> request) {
      {{#vendorExtensions.urlEncodedForm}}
      var b = new UrlEncodedWriter();{{#formParams}}
      if (request.parameter().{{paramName}}() != null) {
        {{#vendorExtensions.requiresMapper}}
        b.add("{{baseName}}", {{paramName}}Converter.convert(request.parameter().{{paramName}}()));
        {{/vendorExtensions.requiresMapper}}{{^vendorExtensions.requiresMapper}}
        b.add("{{baseName}}", java.util.Objects.toString(request.parameter().{{paramName}}()));
        {{/vendorExtensions.requiresMapper}}
      }
      {{/formParams}}
      return b.write(request.builder());
      {{/vendorExtensions.urlEncodedForm}}{{#vendorExtensions.multipartForm}}
      var l = new java.util.ArrayList
      <ru.tinkoff.kora.http.common.form.FormMultipart.FormPart>();{{#formParams}}
              if (request.parameter().{{paramName}}() != null) {
          {{#isFile}}
                  var file = request.parameter().{{paramName}}();
                  l.add(file);
          {{/isFile}}{{^isFile}}
                  var buf = java.nio.charset.StandardCharsets.UTF_8.encode(java.util.Objects.toString(request.parameter().{{paramName}}()));
                  var part = ru.tinkoff.kora.http.common.form.FormMultipart.data(
                  "{{baseName}}",
                  java.util.Objects.toString(request.parameter().{{paramName}}())
                  );{{/isFile}}
      }
      {{/formParams}}
      return MultipartWriter.write(request.builder(), l);
      {{/vendorExtensions.multipartForm}}

    }
  }
{{/hasFormParams}}
{{/operation}}
{{/operations}}
}
