{{#allParams}}      {{^isFormParam}}
      {{#isQueryParam}}@ru.tinkoff.kora.http.common.annotation.Query("{{baseName}}")
      {{/isQueryParam}}{{#isPathParam}}@ru.tinkoff.kora.http.common.annotation.Path("{{baseName}}")
      {{/isPathParam}}{{#isHeaderParam}}@ru.tinkoff.kora.http.common.annotation.Header("{{baseName}}")
      {{/isHeaderParam}}{{#isCookieParam}}/* TODO Cookies */
      {{/isCookieParam}}{{#isBodyParam}}{{#vendorExtensions.hasMapperTag}}@{{vendorExtensions.mapperTag}}{{/vendorExtensions.hasMapperTag}}
      {{/isBodyParam}}{{paramName}}: {{{dataType}}}{{^required}}?{{/required}}{{#hasFormParams}},{{/hasFormParams}}{{^hasFormParams}}{{^-last}},{{/-last}}{{/hasFormParams}}
{{/isFormParam}}{{/allParams}}    {{#hasFormParams}}
      {{#isClient}}@ru.tinkoff.kora.common.Mapping(value={{classname}}ClientRequestMappers.{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}FormParamRequestMapper::class)
      {{/isClient}}{{^isClient}}@ru.tinkoff.kora.common.Mapping(value={{classname}}ServerRequestMappers.{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}FormParamRequestMapper::class)
      {{/isClient}}
      form: {{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}FormParam
    {{/hasFormParams}}
